.vscode/**
.vscode-test/**
out/test/**
src/**/*.ts
!src/webview/html/**
!src/webview/styles/**
!src/webview/scripts/**
.gitignore
.claude/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
LINUX_SETUP.md
code.png
icons/**
.prettierrc
.git/**
**/*.md
!README.md
!CHANGELOG.md
!LICENSE.txt
**/node_modules/@vscode/codicons/.github/**
**/node_modules/@vscode/codicons/.devcontainer/**
**/node_modules/@vscode/codicons/.husky/**
**/node_modules/@vscode/codicons/.vscode/**
**/node_modules/@vscode/codicons/scripts/**
**/node_modules/@vscode/codicons/build/**
**/node_modules/@vscode/codicons/dist/**
**/node_modules/@vscode/codicons/_iconCloud/**
**/node_modules/@vscode/codicons/*.png
**/node_modules/@resvg/resvg-js/*.md
**/node_modules/**/*.d.ts
**/node_modules/**/*.map
**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/__tests__/**
**/node_modules/**/docs/**
**/node_modules/**/example/**
**/node_modules/**/examples/**
