.vscode/**
.vscode-test/**
out/test/**
src/**/*.ts
!src/webview/html/**
!src/webview/styles/**
!src/webview/scripts/**
.gitignore
.claude/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
LINUX_SETUP.md
code.png
